<h2>User List</h2>

<uL>
  <% @users.each do |user| %>

  <li><h3><%= user.first_name %> <%= user.last_name %><%= user.email %></h3></li>

  <% end %> 
</uL>

<h2>What emojis do you want to see?</h2>

<uL>
  <% @emojis.each do |emoji| %>

  <li><h3><%= emoji.name %> <%= emoji.category %></h3></li>

  <% end %> 
</uL>
